
  <form action='/tweets' method="post">
    Content:
    <textarea name="content"></textarea><br>
    Create Your Tweet:

    <input type="submit" value="submit">

  </form>

 
      <!--<h1> You Must Be Logged in to Make Tweets </h1>-->
 
