<% if logged_in? %>
<%= @error %>
  <div class="shadow-lg p-3 mb-5 bg-white rounded">
  <form action='/tweets' method="post">
    Content:
    <input type="text" name="content"><br>
    Create Your Tweet:

    <input type="submit" name="submit" id="submit">

  </form>
  </div>

  <% else %>
  <% redirect '/login' %>
      <h1> You Must Be Logged in to Make Tweets </h1>
  <% end %>
