<h1>Fwitter Bank Error</h1>
<<<<<<< HEAD
<p>There seems to be a problem. Please return to <a href="/">the home page</a> and try again.</p>
=======
<p>It seems there was a problem. Please return to <a href="/">the home page</a> and try again.</p>
>>>>>>> 18c0b426ab2fec0fae532bc5095ea1ac27a8c350
