<h1>Please log in</h1>

<form method="POST" action="/login">

<input type="text" name="username" id="username" placeholder="username" required>
<input type="password" name="password" id="password" placeholder="password" required>

<input type="submit" name="submit" id="submit" value="submit">

</form>