<div class="container">
  <form method="post" action="/signup">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="username" class="form-control" name="username" id="username" aria-describedby="userhelp">
      <small id="userhelp" class="form-text text-muted">It's just a username, don't overthink it.</small>
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll sell your email with anyone who asks.</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password">
    </div>
    <button type="submit" id= "submit" class="btn btn-primary">Submit</button>
  </form>
</div>