<style>
  .right {
    text-align: right;
  }
</style>
<h1>Welcome, <%= @user.username %></h1>
<div class="container">
  <ul class="list-group">
    <% @user.tweets.each do |tweet| %>
      <div class="shadow-lg p-3 mb-5 bg-white rounded"><%= tweet.content %> <br>
        <div class="right"> <small>posted by: <%= tweet.user.username %><br>
          - <%= tweet.created_at %></small></div>
      </div>
    <% end %>
  </ul>
</div>