<h1>Please enter the following to singup a new account</h1>

<form method="POST" action="/signup">

<input type="text" name="name" placeholder="name" id="name" required>

<input type="text" name="email" placeholder="email" id="email" required>

<input type="password" name="password" placeholder="password" id="password" required>

<input type="submit" id="submit" value="submit">

</form>