<% if logged_in? %>
<% redirect "/tweets" %>
<% else %>
    <h1>Signup Here!</h1>

    <form action="/signup" method="POST">
        <label>User Name:</label>
        <input type="text" name="username"><br>
        <label>Email:</label>
        <input type="text" name="email"><br>
        <label>Password:</label>
        <input type="password" name="password"><br>
        <input type="submit" value="Sign up">
    </form>
<% end %>