<% if logged_in? %>
<% redirect "/tweets" %>
<% else %>
<<<<<<< HEAD
    <h1>Signup!!</h1>
    <form action="/signup" method="POST">
        <label for="email"> Email: </label>
        <input type="text" name="email" >
        <br>
        <label for="username"> Username: </label>
        <input type="text" name="username">
        <br>
        <label for="password"> Password: </label>
        <input type="password" name="password">
        <br>
        <input type="submit" value="submit">
=======
    <h1>Signup Here!</h1>

    <form action="/signup" method="POST">
        <label>User Name:</label>
        <input type="text" name="username"><br>
        <label>Email:</label>
        <input type="text" name="email"><br>
        <label>Password:</label>
        <input type="password" name="password"><br>
        <input type="submit" value="Sign up">
>>>>>>> 18c0b426ab2fec0fae532bc5095ea1ac27a8c350
    </form>
<% end %>