<<<<<<< HEAD
<div class="container">

  <a href="/login">Log In</a> OR <a href="/signup">Sign Up</a>
</div>
=======
<%= flash[:notice] if flash[:notice] %>

<a href="/signup"> Signup </a><br>
<a href="/login"> Login </a>

>>>>>>> 18c0b426ab2fec0fae532bc5095ea1ac27a8c350
