<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Fwitter!</h1>
<<<<<<< HEAD
      
    </div>

    <%= yield %>

=======
      <%= yield %>
    </div>
   
>>>>>>> 18c0b426ab2fec0fae532bc5095ea1ac27a8c350
  </body>
</html>
