<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <h1>Welcome to Fwitter!</h1>
      <div class="container">
        <% if block_given? %>
          <%= yield %>
        <% else %>
          <% #block was not give%>
        <% end %>
      </div>
  </body>
</html>
